/* stylelint-disable selector-max-id */
/* stylelint-disable declaration-no-important */

.nhsuk-header {
  display: flex;
  min-height: 46px;
  align-items: center;
  padding: 0;
  border-bottom: 1px solid #4d8ecd;
}

.nhsuk-header__logo {
  flex-shrink: 0;
  padding-left: 10px;
  padding-right: 10px;


  .nhsuk-header__link {
    display: block;
    width: 50px;
    height: 40px;

    .nhsuk-logo {
      width: 50px;
      height: 40px;
      border: 0;
    }
  }
}

.nhsuk-header__transactional-service-name {
  width: auto;
  max-width: 40vw;
  flex-shrink: 0;
  padding: 0;
  margin-right: auto;
  float: initial;

  .nhsuk-header__transactional-service-name--link {
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
    font-style: bold;
    padding-right: 30px;
  }
}

.nhsuk-navigation-container {
  display: flex;
  width: auto;
  max-width: 70%;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: flex-end;

  .nhsuk-navigation {
    width: 100%;
    max-width: 100%;
    flex-shrink: 1;
    margin-bottom: 0 !important;
  }
}

.nhsuk-header__navigation-list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-left: 0;
  margin: 0;
  gap: 4px;
  list-style: none;

  .nhsuk-header__navigation-item {
    position: relative;
    display: flex;
    margin-bottom: 0;
    list-style-type: none !important;
  }

  .nhsuk-header__navigation-link {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 8px 16px;
    border-width: 4px 0;
    border-style: solid;
    border-color: transparent;
    font-weight: 500;
    white-space: nowrap;

    .nhsuk-icon {
      display: block;
      width: 18px;
      height: 18px;
    }

    &:focus {
      background-color: #ffeb3b;
      color: #212b32;
    }

    &.nhsuk-header__menu-toggle {
      right: 0;
      padding-right: 8px;
      border-radius: 0;

      // Chevron fixes
      .nhsuk-icon {
        position: static;
        width: 24px;
        height: 24px;
        margin-left: 6px;
        transform: rotate(90deg);
        fill: inherit;
      }

      &--expanded {
        .nhsuk-icon {
          transform: rotate(-90deg);
        }
      }
    }
  }

  .nhsuk-mobile-menu-container {
    display: none;

    &.nhsuk-mobile-menu-container--visible {
      display: block;
    }
  }

  .nhsuk-header__drop-down {
    position: absolute;
    z-index: 1;
    top: auto;
    right: 0;
    width: 13rem;
    padding: 10px;
    background-color: #f0f4f5;
  }

  .nhsuk-header__drop-down--hidden {
    display: none;
  };
}
