@use 'sass:color';
@use '../../../node_modules/nhsuk-frontend/packages/core/settings/all' as settings;
@import '../../../node_modules/nhsuk-frontend/packages/core/generic/font-face';

/* ==========================================================================
   #TAG
   ========================================================================== */;

.nhsuk-tag {
  @mixin _nhsuk-font-face-frutiger {
    font-size: 16;
    font-weight: bold;
    line-height: 1;
  };
  background-color: color.mix(settings.$color_nhsuk-black, settings.$color_nhsuk-blue, 10%);
  color: settings.$color_nhsuk-white;
  display: inline-block;
  letter-spacing: 1px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding: nhsuk-spacing(1) nhsuk-spacing(2);
  text-decoration: none;
  width: fit-content;
  text-transform: uppercase;

  &--white {
    background-color: settings.$color_nhsuk-white;
    border: 1px solid settings.$color_nhsuk-black;
    color: settings.$color_nhsuk-black;
  }

  &--grey {
    background-color: color.mix(settings.$color_nhsuk-white, settings.$color_nhsuk-grey-1, 80%);
    color: color.mix(settings.$color_nhsuk-black, settings.$color_nhsuk-grey-1, 30%);
  }

  &--green {
    background-color: color.mix(settings.$color_nhsuk-white, settings.$color_nhsuk-green, 80%);
    color: color.mix(settings.$color_nhsuk-black, settings.$color_nhsuk-green, 40%);
  }

  &--aqua-green {
    background-color: color.mix(settings.$color_nhsuk-white, settings.$color_nhsuk-aqua-green, 80%);
    color: color.mix(settings.$color_nhsuk-black, settings.$color_nhsuk-aqua-green, 50%);
  }

  &--blue {
    background-color: color.mix(settings.$color_nhsuk-white, settings.$color_nhsuk-blue, 80%);
    color: color.mix(settings.$color_nhsuk-black, settings.$color_nhsuk-blue, 30%);
  }

  &--purple {
    background-color: color.mix(settings.$color_nhsuk-white, settings.$color_nhsuk-purple, 80%);
    color: color.mix(settings.$color_nhsuk-black, settings.$color_nhsuk-purple, 30%);
  }

  &--pink {
    background-color: color.mix(settings.$color_nhsuk-white, settings.$color_nhsuk-pink, 80%);
    color: color.mix(settings.$color_nhsuk-black, settings.$color_nhsuk-pink, 50%);
  }

  &--red {
    background-color: color.mix(settings.$color_nhsuk-white, settings.$color_nhsuk-red, 80%);
    color: color.mix(settings.$color_nhsuk-black, settings.$color_nhsuk-red, 50%);
  }

  &--orange {
    background-color: color.mix(settings.$color_nhsuk-white, settings.$color_nhsuk-warm-yellow, 50%);
    color: color.mix(settings.$color_nhsuk-black, settings.$color_nhsuk-warm-yellow, 70%);
  }

  &--yellow {
    background-color: color.mix(settings.$color_nhsuk-white, settings.$color_nhsuk-yellow, 50%);
    color: color.mix(settings.$color_nhsuk-black, settings.$color_nhsuk-yellow, 70%);
  }
}
