#!/usr/bin/env bash
# Used by https://direnv.net

export DIRENV_WARN_TIMEOUT=100s
export DIRENV_LOG_FORMAT=""
direnv_layout_dir="${HOME}/.cache/direnv/layouts/${PWD//[\/.]/-}"

path_add DIRENV_EXCLUDE .direnv
watch_file flake.nix
source_env_if_exists .envrc.local

use flake
