@use 'sass:color';
@use '../../../node_modules/nhsuk-frontend/packages/core/settings' as *;
@use '../../../node_modules/nhsuk-frontend/packages/core' as *;

.nhsuk-ribbon-link {

  @include nhsuk-responsive-padding(2, 'top');
  @include nhsuk-responsive-padding(2, 'bottom');
  @include nhsuk-responsive-padding(2, 'left');
  @include nhsuk-responsive-padding(2, 'right');
  @include nhsuk-font-size(_24);

  display: flex;
  cursor: pointer;
  font-weight: $nhsuk-font-bold;
  align-items: center;
  justify-content: flex-start;
  border: 0;
  border-bottom: 4px solid;
  width: 100%;
  border-radius: 4px;
  outline: none !important;

  &:hover,
  &:active,
  &:focus {
    outline: none !important;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    margin-top: 4px;
    border-bottom: 0;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &__icon {
    @include nhsuk-responsive-margin(1, 'left');
    @include nhsuk-responsive-margin(2, 'right');
  }

  &--cool {
    border-bottom-color: $color_nhsuk-blue;
    background-color: $color_nhsuk-white;
    color: $color_nhsuk-blue;

    > svg {
      fill: $color_nhsuk-blue;
    }

    &:hover {
      background-color: color.adjust($color_nhsuk-white, $lightness: -5%);
      color: $color_nhsuk-purple;
    }

    &:focus {
      background-color: $color_nhsuk-yellow;
      color: $color_nhsuk-black;
      border-bottom-color: $color_nhsuk-black;

      > svg {
        fill: $color_nhsuk-black;
      }
    }

    &:active {
      color: $color_nhsuk-white;
      border-bottom-color: color.adjust($color_nhsuk-blue, $lightness: -10%);
      border-left-color: color.adjust($color_nhsuk-blue, $lightness: -10%);

      > svg {
        fill: $color_nhsuk-white;
        margin-left: none;
      }
    }
  }

  &--mild {
    border-bottom-color: color.adjust($color_nhsuk-warm-yellow, $lightness: -10%);
    background-color: $color_nhsuk-warm-yellow;
    color: $color_nhsuk-black;

    > svg {
      fill: $color_nhsuk-black;
    }

    &:hover {
      background-color: $color_nhsuk-blue;
      color: $color_nhsuk-white;
      border-bottom-color: $color_shade_nhsuk-blue-20;

      > svg {
        fill: $color_nhsuk-white;
      }
    }

    &:focus {
      background-color: $color_shade_nhsuk-blue-20;
      color: $color_nhsuk-white;
      border-bottom-color: $color_shade_nhsuk-blue-35;

      > svg {
        fill: $color_nhsuk-white;
      }
    }

    &:active {
      background-color: $color_shade_nhsuk-blue-20;
      color: $color_nhsuk-white;
      border-bottom-color: $color_shade_nhsuk-blue-35;

      > svg {
        fill: $color_nhsuk-white;
      }
    }
  }

  &--hot {
    border-bottom-color: color.adjust($color_nhsuk-red, $lightness: -10%);
    background-color: $color_nhsuk-red;
    color: $color_nhsuk-white;

    > svg {
      fill: $color_nhsuk-white;
    }

    &:hover {
      background-color: color.adjust($color_nhsuk-red, $lightness: -5%);

      > svg {
        fill: $color_nhsuk-white;
      }
    }

    &:focus {
      background-color: $color_nhsuk-yellow;
      color: $color_nhsuk-black;
      border-bottom-color: $color_nhsuk-black;

      > svg {
        fill: $color_nhsuk-black;
      }
    }

    &:active {
      background-color: color.adjust($color_nhsuk-red, $lightness: -10%);
      color: $color_nhsuk-white;
      border-bottom-color: $color_shade_nhsuk-blue-35;

      > svg {
        fill: $color_nhsuk-white;
      }
    }
  }

  &__bar {
    display: flex;
    justify-content: space-between;

    .nhsuk-ribbon-link {
      @include nhsuk-responsive-margin(3, 'right');

      &:last-of-type {
        @include nhsuk-responsive-margin(0, 'right');
      }
    }
  }
}
