@use '../../../node_modules/nhsuk-frontend/packages/core/tools/focused' as *;
@use '../../../node_modules/nhsuk-frontend/packages/core/settings/colours';
@use '../../../node_modules/nhsuk-frontend/packages/core' as *;


$nhsukext-tab-border-width: 1px !default;
$nhsukext-disabled-text-color: colours.$color_nhsuk-grey-3 !default;
$nhsukext-body-background-color: colours.$color_nhsuk-grey-5 !default;
$nhsukext-content-background-color: colours.$color_nhsuk-white !default;

.nhsuk-tab-set {
  display: flex;
  width: 100%;
  background-color: $nhsukext-content-background-color;
  justify-content: space-between;
  border: $nhsukext-tab-border-width solid $nhsukext-content-background-color;
  border-bottom: $nhsukext-tab-border-width solid colours.$nhsuk-border-color;

  &__tab {

    @include nhsuk-responsive-margin(3, 'top');
    @include nhsuk-responsive-padding(3, 'top');
    @include nhsuk-responsive-padding(3, 'bottom');
    @include nhsuk-font-size(19);
    background-color: colours.$color_nhsuk-white;
    border: $nhsukext-tab-border-width solid $nhsukext-content-background-color;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    text-align: center;
    display: block;
    flex: 1;
    color: colours.$nhsuk-secondary-text-color;
    cursor: pointer;
    text-decoration: none;

    &--active {
      cursor: auto;
      
      &:hover {
        text-decoration: none;
      }

      color: colours.$nhsuk-link-color;
      margin-bottom: -1px;
      background-color: $nhsukext-body-background-color;
      border: $nhsukext-tab-border-width solid colours.$nhsuk-border-color;
      border-bottom: 0;
    }

    &--disabled {
      border: $nhsukext-tab-border-width solid colours.$color_nhsuk-white;
      border-bottom: 0;
      cursor: not-allowed;
      text-decoration: line-through;
      color: $nhsukext-disabled-text-color;

      &:hover {
        border: $nhsukext-tab-border-width solid colours.$color_nhsuk-white;
        border-bottom: 0;
        text-decoration: line-through;
        color: $nhsukext-disabled-text-color;
      }
    }

    &--empty {
      display: none;
    }

    &:hover {
      border: $nhsukext-tab-border-width solid colours.$nhsuk-border-color;
      border-bottom: 1px transparent;
      text-decoration: underline;
      color: colours.$nhsuk-link-color;
      outline: none;
    }

    &:focus {
      @mixin nhsuk-focused-button {
        background-color: $nhsuk-focus-color;
      };
    }
  }
}
