@use '../../../node_modules/nhsuk-frontend/packages/core/settings' as *;
@use '../../../node_modules/nhsuk-frontend/packages/core' as *;


.nhsuk-timeline {
  overflow: hidden;
  position: relative;
}

.nhsuk-timeline::before {
  background-color: $color_nhsuk-blue;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 10px;
  width: 5px;
}

.nhsuk-timeline--full {
  margin-bottom: 0;
}

.nhsuk-timeline--full::before {
  height: calc(100% - 75px);
}

.nhsuk-timeline__event {
  @include nhsuk-responsive-padding(5, 'bottom');
  @include nhsuk-responsive-padding(4, 'left');
  position: relative;
}

.nhsuk-timeline__event::before {
  background-color: $color_nhsuk-blue;
  content: '';
  height: 5px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 15px;
}

.nhsuk-timeline__title {
  @include nhsuk-font-size(19);
  display: inline;
}

.nhsuk-timeline__by {
  @include nhsuk-font-size(19);
  font-weight: $nhsuk-font-normal;
  display: inline;
  @include nhsuk-responsive-margin(0);
}

.nhsuk-timeline__date {
  @include nhsuk-font-size(16);
  @include nhsuk-responsive-margin(1, 'top');
  @include nhsuk-responsive-margin(0, 'bottom');
}

.nhsuk-timeline__description-item {
  @include nhsuk-font-size(16);
  @include nhsuk-responsive-margin(0, 'bottom');
}
