@import '../node_modules/nhsuk-frontend/dist/nhsuk.css';

/* TODO Add this component html / styles to main nhsuk-frontend lib */
.text-link {
  display: block;
  padding-top: 8px;
  font-size: 15px;
}
