// Allow current nhsuk styles to override legacy
@use '../node_modules/nhsuk-frontend/packages/nhsuk.scss';
// @use '../src/styles/components.scss';
@use '../src/styles/core.scss';
@use '../src/styles/variables.scss';

.tag-wrapper {
  display: flex;
  flex-direction: column;

  & > .nhsuk-tag {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
