@use '../../../node_modules/nhsuk-frontend/packages/core/settings/colours';

.nhsuk-tooltip {
  display: inline-block;
  position: relative;

  &:hover &__text {
    visibility: visible;
  }

  &__text {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 2px;
    visibility: hidden;
    z-index: 1000;
    margin-left: -100px;
    border-radius: 4px;
    background-color: colours.$color_nhsuk-black;
    padding: 5px;
    width: 200px;
    text-align: center;
    color: colours.$color_nhsuk-white;

    &::after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: colours.$color_nhsuk-black transparent transparent transparent; // sass-lint:disable-line variable-name-format
      content: ' ';
    }
  }
}
