name: CD Build and Publish to NPM

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version-file: .nvmrc

      - name: Enable corepack
        run: corepack enable

      - name: Set Yarn version
        run: yarn set version stable

      - name: Yarn Install
        run: yarn

      - name: Lint
        run: yarn lint

      - name: Jest Tests
        run: yarn test --coverage

      - name: Typescript build
        run: yarn build

      - name: Set Version to Release Tag Name
        run: |
          yarn version ${{ github.event.release.tag_name }}

      - name: Publish to npm, publish pre-release as beta
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          tag: ${{ github.event.release.prerelease && 'beta' || 'latest' }}
